certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
DAWG-Python==0.7.2
docopt==0.6.2
idna==3.4
libretranslatepy==2.1.1
lxml==4.9.3
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
requests==2.31.0
translate==3.6.1
urllib3==2.1.0